---
---

@import 'jekyll-theme-hacker';

::selection {
  background: rgba(181, 232, 83, 0.5);
}

#a-title h1:hover {
  text-shadow: 0 0 5px rgba(181, 232, 83, 0.9);
}

a {
  color: rgb(181, 232, 83);
  text-shadow: 0 0 5px rgba(181, 232, 83, 0.5);

  &:hover {
    text-shadow: 0 0 5px rgba(181, 232, 83, 0.9);
  }
}

#downloads .btn {
  border-radius: 0px;

  &:hover {
    text-shadow: 0 0 5px rgba(181, 232, 83, 0.5);
  }

  &.btn-email .icon {
    opacity: 0.8;
    background: url("../images/email.png") 0 0 no-repeat;
  }

  &.btn-join .icon {
    background: url("../images/join.png") 0 0 no-repeat;
  }
}

ul li {
  transition: 0.5s cubic-bezier(0.3, 1, 0.3, 1.5) 0.05s;

  &:hover {
    text-shadow: 0 0 5px rgba(181, 232, 83, 0.9);
    transform: translateX(12px);
  }
}

code.highlighter-rouge {
  color: #CC342D;
}

canvas#matrix {
  display: block;
}
