<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    <script src="{{ base.url | prepend: site.url }}/assets/js/matrix.js"></script>

    {% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          <a href="/join" class="btn btn-join"><span class="icon"></span>Join us</a>
          <a href="/career" class="btn btn-github"><span class="icon"></span>Open positions</a>
          <a href="/contacts" class="btn btn-email"><span class="icon"></span>Contact us</a>
        </section>
      </div>
    </header>

    <canvas id="matrix" width="0" height="0"></canvas>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <footer id="copyright">
      ⓒ 2021 [uzhguys]
    </footer>

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>
